
out/
temp/
projects/vs2010/Raytracer.suo
projects/vs2010/ipch/
projects/vs2010/Raytracer.sdf
projects/vs2010/Raytracer.opensdf
projects/vs2010/My Amplifier XE Results - RaytraceGUI/
projects/codelight/Debug/
projects/vs2010/log.txt